*{
    margin: 0%;
    padding: 0%;
}

html{
    background-color: rgb(63, 63, 63);
}

h1{
    margin: 3vh auto;
    text-align: center;
    color: white;
}

.IP_Server{
    margin: 8vh auto 1vh auto;
    text-align: center;
}

.IP_Server label{
    color: white;
}

.Logs_Buttons{
    margin: 1vh auto;
    text-align: center;
}

#debugTextArea{
    display: block;
    resize: none;
    max-width: 80%;
    min-width: 30%;
    height: 40vh;
    margin: 1vh auto;
}

.Message_text input, .Message_text button{
    display: inline-block;
    margin: 0vh auto;
}

#inputNick{
    color: white;
}

.Message_text{
    margin: 0vh auto 5vh auto;
    text-align: center;
}

@media screen and ( max-width: 1024px) {
    #debugTextArea{
        max-width: 90%;
        min-width: 70%;
    }
}