*{
    margin: 0%;
    padding: 0%;
}

a:link {color: white; text-decoration: underline;}
a:visited {color: white; text-decoration: underline;}
a:hover {color: white; text-decoration: underline;}
a:active {color: white; text-decoration: underline;}

html{
    background-color: rgb(51, 51, 51);
    color: white;
}

.container{
    margin: 10vh auto;
    width: 70%;;
}

h4{
    text-align: center;
    margin-bottom: 1vh;
}

form{
    margin: 5vh auto;
    width: 25%;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    box-shadow: rgb(161, 161, 161) 5px 5px;
    color: white;
}

form label{
    margin: 2vh auto 0vh auto;
    display: block;
    text-align: center;
}

form input{
    padding: 0.5vh 1vw;
    margin: 1vh auto 2vh auto;
    border: solid black 1px;
    display: block;
    text-align: center;
}

form input[type="text"]{
    min-width: 60%;
    max-width: -webkit-fill-available;
}

form input[type="submit"]{
    border-radius: 10px;
    padding: 1vh 2vw;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 1vh 2vw;
}

.form_btn{
    margin: 1vh auto;
    text-align: center;
}

@media screen and ( max-width: 1024px) {
    form{
        width: 90%;
    }

    form input[type="text"]{
        max-width: 80%;
    }

    form input[type="submit"]{
        padding: 1.2vh 3vw;
    }
}